<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{#each css}}
    <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
</head>
<body>
    <main>
        {{!-- Render the sub-layout/content --}}
        {{{body}}}
    </main>
    <script src="/js/logout.js"></script> <!-- Include logout script if logged in -->
</body>
</html>
