<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/landingpage.css">
    <title>Gifrater</title>
</head>
<body>
    <main>
        <section class="hero">
            <h1>Welcome to Gif Rater</h1>
            <p>Your journey to greatness starts here!</p>
            <button onclick="window.location.href='/login'">The Gifs Await!</button>
        </section>
    </main>
   
    
</body>
</html>
